<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>if [[ ! -f "$TM_NEW_FILE" ]]; then
   TM_YEAR=`date +%Y` \
   TM_DATE=`date +%Y-%m-%d` \
   perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' \
      &lt; conf.lua &gt; "$TM_NEW_FILE"
fi</string>
	<key>extension</key>
	<string>lua</string>
	<key>name</key>
	<string>conf.lua</string>
	<key>uuid</key>
	<string>1CEE6A06-291F-4446-892E-E40D1E33B256</string>
</dict>
</plist>
